[package]
name = "rhdl-macro"
version = "0.0.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
proc-macro = true

[dependencies]
rhdl-macro-core = { path = "../rhdl-macro-core" }
